#cah-faculty-staff {

    h3 {
        width: 100%;
    }

    .img-circle {
        height: 100px;
        width: 100px;
    }

    .img-circle-detail {
        height: 150px;
        width: 150px;
    }

    .img-circle,
    .img-circle-detail {
        object-fit: cover;
        object-position: 0 0;
        border-radius: 50%;
    }

    .img-circle.rounded {
        object-position: 50% 0;
        height: 105px;
        width: 105px;
        border-radius: .25rem;
    }
}

.cah-staff-list {

    a, a:visited {
        color: inherit;
        text-decoration: none;
    }

    .staff-list {
        padding: 10px;
    
        &:hover {
            background-color: #EEEEEE;
        }

        .staff-title {
            font-size: 1.1em;
            line-height: 14px;
            margin: 0;
        }

        .fs-interest {
            margin-top: .3em;
            line-height: 16px;
        }

        p {
            margin-bottom: .2em;
        }

        .media {
            .media-body {
                line-height: 1.2;

                p {
                    margin-bottom: .5em;
                }

                .fs-list {
                    font-size: 90%;
                    line-height: 18px;

                    p {
                        margin-bottom: .4em;
                    }

                    .staff-title {
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

.staff-detail {
    font-size: 90% !important;
    
    .media {
        width: 100%;
    }
}

.staff-info {
    width: 100%;
}

#dept-menu-div {
    nav {

        &:hover, .active {
            cursor: grab !important;
        }

        .nav-item {
            padding: 0;

            .nav-link {
                padding: .4em 2em;
                justify-content: left;

                p {
                    margin: 0;
                    padding: 0;
                    width: auto;
                    text-align: left;
                    font-size: .95em;
                }
            }
        }
    }
}

#loading-img {
    height: 50px;
    width: 50px;
    margin: auto;
    background-image: url("../../img/cah-loading-icon.png");
    background-size: contain;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}